{
  "extension": [".ts", ".tsx"],
  "reporter": ["text-summary", "lcov"],
  "exclude": [
    ".vscode/**",
    "coverage/**",
    "scripts/**",
    "test/**",
    "test{,-*}.js",
    "**/__tests__/**",
    "**/node_modules/**"
  ],
  "check-coverage": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "watermarks": {
    "branches": [90, 99],
    "functions": [90, 99],
    "lines": [90, 99],
    "statements": [90, 99]
  }
}
